
<div class="colored-banner">
  <!-- pb-7 mt-6 -->
  <div class="no-class">
      <nav class="navbar navbar-expand-lg bg-transparent border border-0">
          <a class="navbar-brand whiten" routerLink="/" style="font-size:21px;">

            Audsearch</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">




            </ul>
            <form class="form-inline my-2 my-lg-0">
              <button class="btn btn-outline my-2 my-sm-0" type="button"
              routerLink="/audpress-dashboard/new-serie"
              style="background:#1e88e5;color:#fff;border:3px solid white;font-weight:bold;"
              >Create new series</button>

              <button
              (click)="logout()"
              class="btn btn-outline my-2 my-sm-0" type="button"
              style="background:#1e88e5;color:#fff;border:3px solid white;font-weight:bold;margin-left:5.5px;"
              >Sign out</button>

            </form>
          </div>
        </nav>
        <div class="pb-7 mt-6">
            <div class="container mt-4 mb-3">
                <div class="header">
                    <div class="header-body text-center border-0">

                    <div class="row d-flex justify-content-center">
                    <div class="col col-md-7">
                        <div
                        class="d-flex"
                        style="height:96px;width:96px;background:#fff;
                        border-radius:50%;margin:13px auto;">
                        <img src="../../../assets/avatar.png">
                      </div>
                        <h6 class="text-center header-pretitle whiten">ENTERTAINMENT • SPORTS • KETO</h6>
                        <h1 class="text-center display-4 mb-3" style="font-weight:900;">
                        Jim Parker XX
                        </h1>
                    </div>
                    </div>

                    </div>

                    </div>
            </div>
        </div>


  </div>
 </div>
 <!-- other content -->
    <div class="container">
        <div class="row">
            <div class="col-md-12" id="series">
              <h3

              class="text-center pt-2 pb-2"><strong>
               Previous series <span style="color:#1e88e5;">101</span></strong></h3>
            </div>
          </div>
          <div class="row">
            <div class="d-flex flex-column col">
              <div class="card shadow p-3 mb-5 bg-white rounded" style="height:100px;">
                  <h3 class="card-title series" style="padding-top: 17px;font-weight:700;">
                    How to fix a hut?</h3>
                    <p class="lead" style="color:green;margin-top: -15px;">15 audicles</p>

              </div>
              <div class="card shadow p-3 mb-5 bg-white rounded" style="height:100px;">
                  <h3 class="card-title series" style="padding-top: 17px;font-weight:700;">
                    How to fix a hut?</h3>
                    <p class="lead" style="color:green;margin-top: -15px;">15 audicles</p>

              </div>

            </div>

          </div>
    </div>
    <button type="button" class="btn btn-primary fab"
    routerLink="/audpress"
    fragment="series">
        <i class="fas fa-angle-double-down whiten"></i>
    </button>


