
<div class="colored-banner">
  <!-- pb-7 mt-6 -->
  <div class="no-class">
      <nav class="navbar navbar-expand-lg bg-transparent border border-0">
          <a class="navbar-brand whiten" routerLink="/" style="font-size:21px;">

            Audsearch</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link whiten" [routerLink]="['/top-stories']"
                routerLinkActive="router-link-active"  style="font-size: 18px;
                letter-spacing: 0.3px;padding-left: 16px;
    font-size: 17px;"> Top Audicles&nbsp;<i class="fas fa-microphone-alt"></i></a>
              </li>



            </ul>
            <form class="form-inline my-2 my-lg-0">
              <button class="btn btn-outline my-2 my-sm-0"
              routerLink="/audpress"
              type="button"
              style="background:#1e88e5;color:#fff;border:3px solid white;font-weight:bold;"
              >Create audicle</button>

            </form>
          </div>
        </nav>
        <div class="pb-7 mt-6">
            <div class="container mt-4 mb-3">
                <div class="header">
                    <div class="header-body text-center border-0">

                    <div class="row d-flex justify-content-center">
                    <div class="col col-md-7">
                        <h6 class="text-center header-pretitle whiten">NUTRIENT DENSITY • KETO SCORE • INSULIN INDEX</h6>
                        <h1 class="text-center display-4 mb-3" style="font-weight:900;">Five minutes audicles search engine</h1>
                    </div>
                    </div>

                    </div>

                    </div>
            </div>
        </div>


  </div>
 </div>
  <!-- main content -->
  <div class="main-content">
      <div class="container mt--7">
        <div class="row justify-content-center">
          <div class="col-12 col-lg-10 col-xl-8">
            <div class="card" style="height:80vh">
            <div class="card-header background-white">
              <div class="row">
                <div class="col-12">
                  <form>
                    <div class="input-group input-group-flush input-group-merge ">
                      <input type="search" placeholder="Search any audicle"
                      class="search-input" style="border:none !important;outline: none  !important;"
                      />
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <!-- card body -->

            <div class="card-body" style="margin-top: 4px;">
              <ul class="list-group list-group-lg list-group-flush list my--4">
                <a routerLink="/results">
                  <li class="list-group-item px-0 border-bottom">
                    <div class="row align-items-center">
                      <div class="col-auto">
                        <span class="avatar avatar-lg">
                            <i class="far fa-play-circle fa-2x" style="color:#1e88e5 !important;"></i>
                        </span>

                      </div>
                      <div class="col-8 col-md-10 ml--2">
                          <h4 class="card-title mb-1 name text-dark text-truncate">How to teach a dog karate</h4>
                          <h6 class="text-uppercase text-muted my-2">174 KCAL • 1.8 g net carbs</h6>
                          <div class="row align-items-center mt-3">
                            <div class="col-12 col-md-4 mb-2 mb-md-0">
                              <div class="d-flex justify-content-left no-gutters align-content-center">
                                <p class="card-text small text-secondary mb-0">Keto Score&nbsp;</p>
                                <span class="badge badge-soft-success">Good</span>
                                <span class="card-text small text-secondary mb-0"></span>
                              </div>
                              <div class="row align-items-center no-gutters"></div>
                            </div>
                          </div>
                      </div>
                    </div>
                  </li>
                </a>
              </ul>

            </div>
            <a href="#!" class="card-footer text-center text-secondary border-top-0">Show More</a>

            </div>
          </div>
        </div>
      </div>

      <!-- other conten -->
      <br>
     <div class="container-fluid pb-4 mt-6">
       <div class="row justify-content-center">
         <div class="col-12 col-lg-10 col-xl-10 mb-7">
            <h2 class="display-3 text-center d-none d-md-block" style="font-weight:700;">What is Audsearch?</h2>
            <h5 class="lead text-secondary text-center mt-5 mb-5 centerize">
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                 an unknown printer took a galley of type
            </h5>
         </div>
       </div>



     </div>
     <br>
     <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-lg-10 col-xl-10 mb-7">
             <h2 class="display-3 text-center d-none d-md-block" style="font-weight:700;">How it works?</h2>

          </div>
        </div>
        <div style="margin-bottom:6%;margin-top:6%;">
          <div class="row">
            <div class="col-md-5">
      <br><br><br><br>
              <h1 class="display-5 text-left header-line">Search anything and get in audio</h1>
              <p class="lead">Surf and explore any content whether it's about research, a story or a
                 paticular product all in 5 minutes audio.
                Think of it as websites but this time in all served in audio.</p>
            </div>
            <div class="col-md-6">
      <img src="../../../assets/search.svg" class="img-responsive"
      style="height:400px;width:400px;margin-left:32%;"/>
            </div>
          </div>
        </div>

    <div style="margin-bottom:6%">
      <div class="row">
        <div class="col-md-6">
          <img src="../../../assets/search.svg" class="img-responsive"
          style="height:400px;width:400px;"/>
          </div>
        <div class="col-md-5">
  <br><br><br><br>
          <h1 class="display-5 text-left header-line">Search anything and get in audio</h1>
          <p class="lead">Surf and explore any content whether it's about research, a story or a
             paticular product all in 5 minutes audio.
            Think of it as websites but this time in all served in audio.</p>
        </div>

      </div>
    </div>

<div style="margin-bottom:6%">
  <div class="row">
    <div class="col-md-5">
<br><br><br><br>
      <h1 class="display-5 text-left header-line">Search anything and get in audio</h1>
      <p class="lead">Surf and explore any content whether it's about research, a story or a
         paticular product all in 5 minutes audio.
        Think of it as websites but this time in all served in audio.</p>
    </div>
    <div class="col-md-6">
      <img src="../../../assets/search.svg" class="img-responsive"
      style="height:400px;width:400px;margin-left:32%;"/>
    </div>
  </div>
</div>

        <!-- titl -->
       <div style="margin-top:10%;margin-bottom:6%;">
        <div class="row justify-content-center">
          <div class="col-12 col-lg-10 col-xl-10 mb-7">
             <h2 class="display-3 text-center d-none d-md-block" style="font-weight:700;">
               Learn more with our guide
             </h2>

          </div>

        </div>

    <div class="row justify-content-center">
      <div class="col-md-6">
        <button type="button" class="btn btn-primary btn-lg long-cta">
          Get Guide
        </button>

      </div>
    </div>
       </div>
      <br>


      </div>
    </div>
    <footer>
      <div class="container">
        <div class="row justify-content-center">
<div class="col-11 col-md-10 col-lg-8 col-xl-6">
  <ul class="nav justify-content-center my-4">
    <li class="nav-item">
      <a href="#" class="nav-link text-center text-dark">Guide</a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link text-center text-dark">About us</a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link text-center text-dark">Blog</a>
    </li>
  </ul>
</div>
        </div>
      </div>
    </footer>
