.search-input{
  /* border:none;
  outline: none; */
  background: url('../../../assets/search.png') no-repeat scroll  98% 4px   !important;
  font-size: 17px;
  padding-left: 12px;
  margin-left: 5%;
}

.navbar-brand{
  font-size: 1.50rem;
  font-weight: 700;
  letter-spacing: 0.2px;
  color: #1e88e5 !important;
}

.navbar-brand:hover{
  color:#2196f3 !important;
}

.navbar{
  border-bottom: 0.1px solid #ccc;
}

.results-title{
  font-size: 1.55rem;
  padding-top: 17px;
  padding-bottom:8px;

}
h2:hover{
  color: #1e88e5;
  text-decoration: underline;
  text-decoration-color: #1e88e5;
  cursor: pointer;
}
.is-transparent{
  background: transparent !important;
  color:#333333;
}
.is-transparent:hover{
  color:#333333;
  background: none;
}
