<div class="container">

    <div class="row justify-content-center" style="margin-top:8%;">
      <div class="col-md-2"></div>
      <div class="col-6 col-lg-6 col-xl-6">
        <h2 class="titles">Audsearch</h2>
        <p>Sign in or sign up using any of the above methods*</p>

    </div>

</div>
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-5" style="margin-left:3%;">
      <br>
        <button type="button" class="btn  btn-lg btn-block"
        style="background:#ea4335;color:#fff;">
        <i class="fab fa-google"></i>&nbsp;
      <strong>Google</strong>
      </button><br>
            <button type="button" class="btn btn-primary btn-lg btn-block"
            style="background:#4862a3;color:#fff;">
            <i class="fab fa-facebook"></i>&nbsp;
          <strong>Facebook</strong>
          </button>
        </div>
    </div>


  </div>
<br>
<br>
<br>
